<%= link_to "Make Predictions", new_prediction_path %>
<h1>Fixture List</h1>

<% @fixture_date.sort.each do |date, fixtures| %>
  <h4><%= date_format(date) %></h4>

  <% fixtures.each do |fixture| %>
    <%= fixture.home_team %> VS <%= fixture.away_team %><br>
  <% end %>
<% end %>