<div class="container">
	<div class="row">
  	<div class="span6 offset3 well">
       <%= form_for(resource, :as => resource_name, :html => {class:"form-horizontal"}, :url => session_path(resource_name))  do |f| %>
       <fieldset>
        <div id="legend">
         <legend class="">Login</legend>
        </div>
       <div class="control-group">
        	<%= f.label :email, :class => "control-label" %>
        	 <div class="controls">
             <%= f.email_field :email, :autofocus => true %>
           </div>
        </div>

        <div class="control-group">
  	    	<%= f.label :password, :class => "control-label" %>
  	    		<div class="controls">
    					<%= f.password_field :password %>
    				</div>
    		</div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
    	<%= f.label :remember_me, :class => "control-label" %>
    	<div class="controls">
    		<%= f.check_box :remember_me %> 
    </div>
    </div>
  <% end -%>

  <div class="form-actions">
  	<%= f.submit "Sign in", :class => 'btn btn-primary' %>
  </div>
</fieldset>
<% end %>



  	</div>
	</div>
</div>
