<div class="league-table-content">
  <table class="table-stats">
    <thead>
      <tr class="header">
        <th class="position">Pos</th>
        <th class="team-name">Team</th>
        <th class="played">P</th>
        <th class="goal-difference">GD</th>
        <th class="points">Pts</th>
      </tr>
    </thead>
    <tbody>
      <% @league.each do |l| %>
     <tr class="team">
      <td class="position"><%= l.position %></td>
      <td class="team-name"><%= l.team_name %></td>
      <td class="played"><%= l.played %></td> 
      <td class="goal-difference"><%= l.goal_difference %></td> 
      <td class="points"><%= l.points %></td> 
      <% end %>



     </tr>


    </tbody>

</table>
</div>