<%= form_for @enrollment do |e| %>
<% if @enrollment.errors.any? %>  
<div id="errorExplanation">  
  <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this record from being saved:</h2>  
  <ul>  
  <% @enrollment.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>  
  <% end %>  
  </ul>  
</div>  
<% end %>

<%= e.label :mini_league_id, 'Mini League Name' %>
<%= e.collection_select(:mini_league_id, MiniLeague.all, :id, :league_name, :prompt => 'Please select Mini-League') %>


<%= e.label :team_id, 'Team Name' %>
<%= e.collection_select(:team_id, current_user.teams.all, :id, :team_name, :prompt => 'Please select your team') %>

<%= e.submit "Join Mini League" %>
<% end %>