<%= form_for @minileague do |t| %>

<%= t.label :league_name, 'League Name' %>
<%= t.text_field :league_name %>

<%= t.hidden_field :league_key, :value => rand(1-10_000_000)+1_000_000_000 %>

<%= t.submit "Create League" %>
<% end %>