span.home-team {
	width: 25%;
  display: block;
  float: left;
  line-height: 30px;
}

span.away-team {
	width: 80px;
  display: inline-block;
  line-height: 30px;
  padding-left:10px;
}

span.score {


}