    <div class="container">
    	<div class="row">
        <div class="span4">
         <div class="well">
          <h2 class="muted">Make Predictions</h2>
           <%= form_tag controller: 'predictions', action: 'create', method: 'post' do %>
           <%= error_messages_for :prediction %>
           <% @fixture_date.sort.each do |date, fixture| %>
           <ul class="fixture-dates">
           <li><h5><%= date_format(date) %></h5></li>
           </ul>

           <ul class="fixtures">
           <% fixture.each do |fixture|%>
    
           <li>
           	<span class="home-team"><%= fixture.home_team %></span> 
           	<span class="score">
           	<%= text_field_tag "predictions[][home_score]" %> 
            <%= text_field_tag "predictions[][away_score]" %>
            </span>
           	<span class="away-team"><%= fixture.away_team %></span> 
          
           </li>
           <%= hidden_field_tag "predictions[][home_team]", fixture.home_team %>
           <%= hidden_field_tag "predictions[][away_team]", fixture.away_team %>

           <%= hidden_field_tag "predictions[][fixture_date]", fixture.fixture_date %>
           <%= hidden_field_tag "predictions[][fixture_id]", fixture.id %>
           <%= hidden_field_tag "predictions[][user_id]", current_user.id %>
         
           <% end %>
           </ul>
          <% end %>
          <%= submit_tag "Submit predictions", :class => "btn btn-success btn-large" %>
          <% end %>
        </div>
       </div>


    <div class="span4">
    <div class="well">
    <h2 class="text-warning">Previous Results</h2>
    <p><span class="label label-success">POPULAR</span></p>
    <ul>
    <li>20 users</li>
    <li>Unlimited access with no limits</li>
    <li>5TB of space</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
    <hr>
    <h3>$10.99 / month</h3>
    <hr>
    <p><a class="btn btn-success btn-large" href="#"><i class="icon-ok"></i> Select plan</a></p>
    </div>
    </div>
    <div class="span4">
    <div class="well">
    <h2 class="text-info">Your Score</h2>
    <p><span class="label label-info">BUDGET</span></p>
    <ul>
    <li>10 users</li>
    <li>5TB of space</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
    <hr>
    <h3>$8.99 / month</h3>
    <hr>
    <p><a class="btn btn-large" href="#"><i class="icon-ok"></i> Select plan</a></p>
    </div>
    </div>


   </div>
  </div>





<h1>Members Area</h1>
<%= "Hi #{current_user.name}" %><br>
<%= login_status %><br>
<%= link_to "Make Predictions", new_prediction_path %><br>
<%= link_to "View Current Predictions", predictions_path %><br>
<%= link_to "See all Fixtures", fixturelist_path %><br>
<%= link_to "See League Table", leaguetable_path %><br>
<%= link_to "Create Mini League", new_mini_league_path %><br>
<%= link_to "See all Leagues", mini_leagues_path %><br>
<%= link_to "Create Team", new_team_path %><br>
<%= link_to "See all Teams", teams_path %><br>
<%= link_to "Join Mini League", new_enrollment_path %>
<%= link_to "My Mini League's", enrollments_path %>